In [2]:
import pandas as pd

In [6]:
auth = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_auth_info.csv')
bankcard = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_bankcard_info.csv', encoding = 'gbk')
credit = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_credit_info.csv')

In [69]:
order = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_order_info.csv', encoding = 'gbk')

In [45]:
addr = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_recieve_addr_info.csv', encoding = 'gbk')
target = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_target.csv')
user = pd.read_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/AI_risk_train_V3.0/train_user_info.csv', encoding = 'gbk')

In [10]:
auth.head()

              id_card   auth_time        phone                  id
0  4****************0  2017-06-10  132****2008  501951980776722440
1                 NaN         NaN  187*****500  525890212484616200
2  5****************9  2015-10-10  135****3522  599309364691472392
3                 NaN         NaN  136*****651  582559913071350024
4  3****************0  2016-12-19  137****4241  599017959926534408

In [11]:
bankcard.head()

  bank_name  tail_num card_type        phone            id
0      中信银行      9753       储蓄卡  177****8427  5.854010e+17
1      农业银行      2174       储蓄卡  150****4551  5.876950e+17
2    中国交通银行      4832       信用卡  185****1989  6.020980e+17
3      北京银行      5697       储蓄卡  186****1634  5.672050e+17
4      中信银行      7703       储蓄卡  158****7655  5.775380e+17

In [12]:
bank_name = {'中信银行': 'citic', '工商银行': 'icbc', '中国邮政': 'post', '招商银行': 'cmb', '中国银行': 'boc', '民生银行': 'cmbc',
			'广发银行': 'gdb', '交通银行': 'bcom', '中国交通银行': 'bcom', '建设银行': 'ccb', '北京银行': 'bob', '平安银行': 'pab',
			'光大银行': 'ceb', '兴业银行': 'cib', '浦发银行': 'spdb', '华夏银行': 'hxb', '江苏银行': 'jsb', '东莞农村商业银行': 'drcb',
			'河北省农村信用社': 'hbnx', '深圳农村商业银行': 'szrcb', '龙江银行': 'bolj', '浙江泰隆银行': 'zjtlcb', '广西农村信用社': 'gxnx',
			'江苏农村商业银行': 'jsnx', '湖南农村信用社': 'hunnx', '汉口银行': 'hkb', '北京农商行': 'bjrcb', '济宁银行': 'bojn',
			'深圳发展银行': 'sdb', '河南省信用社': 'hnnx', '上海农商行': 'srcb', '重庆农商行': 'cqrcb', '盛京银行': 'bosj', '吉林省农村信用社': 'jlnx',
			'广州农商行': 'grcb', '徽商银行': 'hsb', '四川省农村信用社': 'scnx', '浙商银行': 'czb', '杭州银行': 'hzb', '宁波银行': 'nbcb',
			'云南省农村农信社': 'ynnx', '包商银行': 'bsb', '海南省农村信用社': 'hnrcc', '贵阳银行': 'bogy', '黑龙江农村信用社': 'hljnx',
			'湖北银行': 'hbcl', '南京银行': 'njcb', '南昌银行': 'bonc', '营口银行': 'boyk', '晋中银行': 'jzcb', '张家港农商银行': 'zjgrcb',
			'内蒙古农村信用社': 'nmgnx', '陕西省农村信用社': 'shxnx', '厦门银行': 'boxm', '吉林银行': 'bojl', '长安银行': 'chab', '桂林银行': 'bogl',
			'临商银行': 'lsb', '广州市农村信用社': 'gzrcc', '温州银行': 'wzcb', '湖北省农村信用社': 'hubnx', '日照银行': 'rzb', '甘肃省农村信用社': 'gsnx',
			'哈尔滨银行': 'bohrb', '华融湘江银行': 'boxj', '兰州银行': 'lzcb', '青岛银行': 'qdccb', '锦州银行': 'jzb', '昆山农商银行': 'ksrcb',
			'台州银行': 'botz', '农业银行': 'abc', '青海省农村信用社': 'qhnx', '上海银行': 'shb', '九江银行': 'jjccb', '贵州省农村信用社': 'gznx',
			'恒丰银行': 'egb', '成都农商银行': 'cdrcb', '西安银行': 'boxa', '成都银行': 'bocd', '中国光大银行': 'ceb', '中国民生银行': 'cmbc',
			'云南省农村信用社': 'ynnx', '北京农村商业银行': 'bjrcb', '广州农村商业银行': 'grcb', '河南省农村信用社': 'hnnx', '重庆农村商业银行': 'cqrcb',
			'黑龙江农信': 'hljnx', '上海农村商业银行': 'srcb', '渤海银行': 'cbhb', '顺德农商银行': 'sdeb', '微众银行': 'webank', '邮政储蓄': 'post',
			'韩亚银行': 'hanabank', '浙江农信银行': 'zjnx', '中原银行': 'zyb', '天津滨海农村商业银行': 'tjrcb', '天津农商银行': 'tjrcb', '储蓄卡': 'debit', '信用卡': 'credit'}

In [13]:
def translate(x):
    try:
        return bank_name[x]
    except:
        if pd.isnull(x):
            return 'unknown'
        return x

In [15]:
bankcard['bank_name'] = bankcard['bank_name'].apply(translate)
bankcard['card_type'] = bankcard['card_type'].apply(translate)
bankcard.to_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/project/data/train_bankcard_info_eng.csv')

In [16]:
bankcard.head()

  bank_name  tail_num card_type        phone            id
0     citic      9753     debit  177****8427  5.854010e+17
1       abc      2174     debit  150****4551  5.876950e+17
2      bcom      4832    credit  185****1989  6.020980e+17
3       bob      5697     debit  186****1634  5.672050e+17
4     citic      7703     debit  158****7655  5.775380e+17

In [17]:
credit.head()

   credit_score  overdraft   quota                    id
0         549.0        0.0     0.0    563888070781309192
1         400.0        0.0     0.0    591567740590887176
2         490.0     4955.9  5083.0    464888846169936136
3         387.0        0.0     0.0    514996919311798280
4         394.0        0.0     0.0  20160629090004442243

In [70]:
order.head()

,amt_order,type_pay,time_order,sts_order,phone,unit_price,id,no_order_md5,name_rec_md5,product_id_md5
0,39.0,在线支付,2017-04-15 09:21:18,等待收货,159****2937,NaN,609460154345197832,ae3b7fd144ff7ee8658d92137a924836,afeb593025b37afbe8179c456b8855f1,NaN
1,39.0,在线支付,2017-04-15 09:21:18,完成,159****2937,NaN,609460154345197832,ae3b7fd144ff7ee8658d92137a924836,afeb593025b37afbe8179c456b8855f1,NaN
2,288.0,在线支付,2016-10-24 08:57:06,NaN,137****8223,NaN,609460154345197832,1d7b1294cdbfe24815e39c458cd059d1,eac9416f834d481d7c88da6134468d03,NaN
3,428.0,在线支付,2016-10-27 20:04:48,完成,137****8223,NaN,609460154345197832,51ee194476e14e9976db834c08f20e21,eac9416f834d481d7c88da6134468d03,NaN
4,428.0,在线支付,2016-10-27 20:04:48,NaN,137****8223,NaN,609460154345197832,51ee194476e14e9976db834c08f20e21,eac9416f834d481d7c88da6134468d03,NaN

In [71]:
order.shape

(2415645, 10)

In [72]:
order.type_pay.unique()

array(['在线支付', '货到付款', nan, '混合支付', '上门自提', '在线', '白条支付', '分期付款', '在线+京豆',
       '前台自付', '余额', '在线+限品东券', '京豆支付', '京豆混合支付', '邮局汇款', '东券混合支付',
       '公司转账', '在线+东券支付', '在线支付 ', '在线+定向东券', '定向京券支付', '京豆', '在线+东券',
       '在线预付', '京豆东券混合支付', '定向东券', '在线+全品东券', '京券混合支付', '在线+余额',
       '余额+限品东券', '在线+限品京券', '在线+全品京券', '在线+京券支付', '积分支付', '定向京券', '全品京券',
       '京券全额支付', '限品京券', '在线+余额+限品东券', '高校代理-自己支付', '高校代理-代理支付',
       '分期付款(招行)'], dtype=object)

In [73]:
type_pay = {
    '在线支付': 'Online Pay', '货到付款': 'Cash on Delivery', '混合支付': 'Mixed Pay', '上门自提': 'Pick it up', '在线': 'Online Pay',
    '白条支付': 'JD Pay', '分期付款': 'Installment', '在线+京豆': 'Online+JD Bean', '前台自付':'Pay at Front Desk', '余额': 'Balance',
    '在线+限品东券': 'Online+limited Dong Coupon', '京豆支付': 'JD Bean', '京豆混合支付': 'JD Bean Mixed Payment',
    '邮局汇款': 'Post Office Remittance','东券混合支付': 'Dong Coupon Mixed Payment', '公司转账': 'Company Transfer', 
    '在线+东券支付': 'Online+Dong Coupon', '在线+定向东券': 'Online+Directed Dong Coupon', '定向京券支付': 'Directed Jing Coupon',
    '京豆': 'JD Bean', '在线+东券': 'Online+Dong Coupon', '在线预付': 'Prepay Online', '在线支付 ':'Online Pay',
    '京豆东券混合支付': 'JD Bean+Dong Coupon Mixed Pay', '定向东券': 'Directed Dong Coupon', '在线+全品东券': 'Online+General Dong Coupon',
    '京券混合支付': 'Jing Coupon Mixed Pay', '在线+余额': 'Online+Balance', '余额+限品东券': 'Balance+Limited Dong Coupon',
    '在线+限品京券': 'Online+Limited Jing Coupon', '在线+全品京券': 'Online+General Jing Coupon', '在线+京券支付': 'Online+Jing Coupon Pay',
    '积分支付': 'Points Payment', '定向京券': 'Directed Jing Coupon', '全品京券': 'General Jing Coupon', '京券全额支付': 'All Jing Coupon',
    '限品京券': 'Limited Jing Coupon', '在线+余额+限品东券': 'Online+Balance+Limited Dong Coupon', '高校代理-自己支付': 'University Self Pay',
    '高校代理-代理支付': 'University Agent Pay', '分期付款(招行)': 'Installment(cmb)'
}

In [74]:
def translate_tp(x):
    try:
        return type_pay[x]
    except:
        if pd.isnull(x):
            return 'unknown'
        return x

In [75]:
order['type_pay'] = order['type_pay'].apply(translate_tp)

In [76]:
order.type_pay.unique()

array(['Online Pay', 'Cash on Delivery', 'unknown', 'Mixed Pay',
       'Pick it up', 'JD Pay', 'Installment', 'Online+JD Bean',
       'Pay at Front Desk', 'Balance', 'Online+limited Dong Coupon',
       'JD Bean', 'JD Bean Mixed Payment', 'Post Office Remittance',
       'Dong Coupon Mixed Payment', 'Company Transfer',
       'Online+Dong Coupon', 'Online+Directed Dong Coupon',
       'Directed Jing Coupon', 'Prepay Online',
       'JD Bean+Dong Coupon Mixed Pay', 'Directed Dong Coupon',
       'Online+General Dong Coupon', 'Jing Coupon Mixed Pay',
       'Online+Balance', 'Balance+Limited Dong Coupon',
       'Online+Limited Jing Coupon', 'Online+General Jing Coupon',
       'Online+Jing Coupon Pay', 'Points Payment', 'General Jing Coupon',
       'All Jing Coupon', 'Limited Jing Coupon',
       'Online+Balance+Limited Dong Coupon', 'University Self Pay',
       'University Agent Pay', 'Installment(cmb)'], dtype=object)

In [77]:
order.sts_order.unique()

array(['等待收货', '完成', nan, '已完成', '充值失败;退款成功', '已取消', '订单取消', '充值成功',
       '未抢中', '商品出库', '出票成功', '退款完成', '正在出库', '等待付款确认', '充值失败', '等待审核',
       '付款成功', '退款成功', '等待付款', '正在处理', '配送退货', '出票失败', '已晒单', '等待处理',
       '已入住', '等待退款', '抢票已取消', '请上门自提', '已收货', '缴费成功', '已退款', '订单已取消',
       '预约完成', '发货中', '失败退款', '已确认', '预订结束', '下单失败', '部分充值成功;退款成功', '未入住',
       '正在送货（暂不能上门自提）', '过期放弃', '购买成功', '已取消订单', '充值失败;退款处理中', '正在充值',
       '等待揭晓', '预订中', '等待厂商处理', '退款中', '商品退库', '等待分期付款', '过期关闭', '支付失败'],
      dtype=object)

In [78]:
sts_order = {
    '等待收货': 'Waiting for Receipt', '完成': 'Finished', '已完成': 'Finished', '充值失败;退款成功': 'Failed Recharge+Successful Refund',
    '已取消': 'Canceled', '订单取消': 'Canceled', '充值成功': 'Successful Recharge', '未抢中':'Missed', '商品出库': 'Outbound',
    '出票成功': 'Ticket Issued', '退款完成': 'Refunded', '正在出库': 'Outbounding', '等待付款确认': 'Confirming Payment',
    '充值失败': 'Failed Recharge', '等待审核': 'Pending Review', '付款成功': 'Payment Succesful', '退款成功': 'Refunded',
    '等待付款': 'In Cart', '正在处理': 'Processing', '配送退货': 'Shipping Returns', '出票失败': 'Issueing Ticket Failed',
    '已晒单': 'Posted Transaction', '等待处理': 'Waiting for Processing', '已入住': 'Checked in', '等待退款': 'Waiting for Refund',
    '抢票已取消':'Ticketing Cancelled', '请上门自提': 'Waiting for Picking up', '已收货': 'Delivered', '缴费成功': 'Successful Recharge',
    '已退款': 'Refunded','订单已取消': 'Canceled', '预约完成': 'Reserved', '发货中': 'Shipping', '失败退款': 'Refund Failed', 
    '已确认': 'Confirmed','预订结束': 'End Of Reservation', '下单失败': 'Order Failed', 
    '部分充值成功;退款成功': 'Partly Recharged+Successfully Refunded', '未入住': "Waiting for Check In", 
    '正在送货（暂不能上门自提）': 'In Delivery', '过期放弃': 'Expired', '购买成功': 'Confirmed', '已取消订单': 'Order Canceled',
    '充值失败;退款处理中': 'Processing Refund', '正在充值': 'In Recharge', '等待揭晓': 'Waiting to be Revealed', '预订中': 'Booking',
    '等待厂商处理': 'Processing', '退款中':'Refunding', '商品退库': 'Product Return', '等待分期付款': 'Waiting for Installment', 
    '过期关闭': 'Expired', '支付失败': 'Failed Payment'
}

In [79]:
def translate_sts(x):
    try:
        return sts_order[x]
    except:
        if pd.isnull(x):
            return 'unknown'
        return x

In [80]:
order['sts_order'] = order['sts_order'].apply(translate_sts)

In [81]:
order.sts_order.unique()

array(['Waiting for Receipt', 'Finished', 'unknown',
       'Failed Recharge+Successful Refund', 'Canceled',
       'Successful Recharge', 'Missed', 'Outbound', 'Ticket Issued',
       'Refunded', 'Outbounding', 'Confirming Payment', 'Failed Recharge',
       'Pending Review', 'Payment Succesful', 'In Cart', 'Processing',
       'Shipping Returns', 'Issueing Ticket Failed', 'Posted Transaction',
       'Waiting for Processing', 'Checked in', 'Waiting for Refund',
       'Ticketing Cancelled', 'Waiting for Picking up', 'Delivered',
       'Reserved', 'Shipping', 'Refund Failed', 'Confirmed',
       'End Of Reservation', 'Order Failed',
       'Partly Recharged+Successfully Refunded', 'Waiting for Check In',
       'In Delivery', 'Expired', 'Order Canceled', 'Processing Refund',
       'In Recharge', 'Waiting to be Revealed', 'Booking', 'Refunding',
       'Product Return', 'Waiting for Installment', 'Failed Payment'],
      dtype=object)

In [82]:
order.to_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/project/data/train_order_info_eng.csv')

In [83]:
order.head()

,amt_order,type_pay,time_order,sts_order,phone,unit_price,id,no_order_md5,name_rec_md5,product_id_md5
0,39.0,Online Pay,2017-04-15 09:21:18,Waiting for Receipt,159****2937,NaN,609460154345197832,ae3b7fd144ff7ee8658d92137a924836,afeb593025b37afbe8179c456b8855f1,NaN
1,39.0,Online Pay,2017-04-15 09:21:18,Finished,159****2937,NaN,609460154345197832,ae3b7fd144ff7ee8658d92137a924836,afeb593025b37afbe8179c456b8855f1,NaN
2,288.0,Online Pay,2016-10-24 08:57:06,unknown,137****8223,NaN,609460154345197832,1d7b1294cdbfe24815e39c458cd059d1,eac9416f834d481d7c88da6134468d03,NaN
3,428.0,Online Pay,2016-10-27 20:04:48,Finished,137****8223,NaN,609460154345197832,51ee194476e14e9976db834c08f20e21,eac9416f834d481d7c88da6134468d03,NaN
4,428.0,Online Pay,2016-10-27 20:04:48,unknown,137****8223,NaN,609460154345197832,51ee194476e14e9976db834c08f20e21,eac9416f834d481d7c88da6134468d03,NaN

In [46]:
addr.tail()

,addr_id,region,phone,fix_phone,id,receiver_md5
261294,NaN,湖北武汉市汉阳区三环内,139****0355,NaN,5.753980e+17,6e0bd1fdcd5a1ddb7af062027dd34f29
261295,NaN,四川泸州市泸县县城内,181****3532,NaN,5.751810e+17,991d749238d03941a76415da2985974e
261296,140971247.0,四川泸州市泸县县城内,181****3532,NaN,5.751810e+17,991d749238d03941a76415da2985974e
261297,139277384.0,四川泸州市叙永县县城内,186****8303,NaN,5.751810e+17,78974288a9074d8b46772bf020fbf681
261298,NaN,NaN,NaN,NaN,5.889080e+17,NaN

In [47]:
addr['region'] = addr['region'].apply(lambda x: x[0:2] if not pd.isnull(x) else x)

In [49]:
addr.region.unique()

array([nan, '辽宁', '四川', '陕西', '江苏', '广东', '海南', '北京', '广西', '福建', '上海',
       '湖南', '安徽', '河南', '河北', '天津', '浙江', '宁夏', '内蒙', '重庆', '甘肃', '湖北',
       '新疆', '云南', '江西', '贵州', '青海', '山西', '山东', '黑龙', '吉林', '西藏', '台湾',
       '香港'], dtype=object)

In [92]:
addr.fix_phone.unique()

array([nan, '186****4600', '159****1000', ..., '593637', '189****1973',
       '182****4920'], dtype=object)

In [50]:
region = {
	'北京': 'BJ', '天津': 'TJ', '河北': 'HE', '山西': 'SX', '内蒙': 'NM', '辽宁': 'LN',
	'吉林': 'JL', '黑龙': 'HL', '上海': 'SH', '江苏': 'JS', '浙江': 'ZJ', '安徽': 'AH',
	'福建': 'FJ', '江西': 'JX', '山东': 'SD', '河南': 'HA', '湖北': 'HB', '湖南': 'HN', 
	'广东': 'GD', '广西': 'GX', '海南': 'HI', '重庆': 'CQ', '四川': 'SC', '贵州': 'GZ',
	'云南': 'YN', '西藏': 'XZ', '陕西': 'SN', '甘肃': 'GS', '青海': 'QH', '宁夏': 'NX',
	'新疆': 'XJ', '香港': 'HK', '澳门': 'MO', '台湾': 'TW'
}

In [51]:
def translate_addr(x):
	try:
		return region[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [52]:
addr['region'] = addr['region'].apply(translate_addr)

In [55]:
addr.head()

,addr_id,region,phone,fix_phone,id,receiver_md5
0,NaN,unknown,NaN,NaN,5.751500e+17,NaN
1,137816020.0,LN,186****4600,186****4600,5.638880e+17,798371eaefb014d304e8c90ba0af1d09
2,137630418.0,LN,159****1000,159****1000,5.638880e+17,41c14ef94733b4587f11ffb64e58a72d
3,137816021.0,LN,186****4600,NaN,5.638880e+17,798371eaefb014d304e8c90ba0af1d09
4,138135925.0,LN,189****9687,189****9687,5.638880e+17,2d3e7dc595265a37f1e9eee82a15b047

In [56]:
addr.to_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/project/data/train_recieve_addr_info_eng.csv')

In [57]:
target.head()

             appl_sbm_tm  target                    id
0  2017-04-08 19:10:13.0       0    600689284231467016
1  2016-06-08 15:20:21.0       0  20160608150003808365
2  2016-04-27 11:36:27.0       0  20160427110002485018
3  2017-03-30 08:45:55.0       0    593852820159991816
4  2016-11-30 11:40:38.0       0    506970882778861832

In [4]:
user.head()

,sex,birthday,hobby,merriage,income,id_card,degree,industry,qq_bound,wechat_bound,account_grade,id
0,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,未绑定,已绑定,铜牌会员,5.882390e+17
1,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,铜牌会员,6.014600e+17
2,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,未绑定,已绑定,金牌会员,6.011380e+17
3,保密,0000-00-00,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,注册会员,2.016040e+19
4,男,10/4/1994,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,注册会员,6.134670e+17

In [5]:
user.sex.unique()

array(['保密', '男', '女', nan], dtype=object)

In [6]:
sex = {
    '保密': 'No Disclosure', '男': 'Male', '女': 'Female'
}

In [7]:
def translate_sex(x):
	try:
		return sex[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [8]:
user['sex'] = user['sex'].apply(translate_sex)

In [9]:
user.sex.unique()

array(['No Disclosure', 'Male', 'Female', 'unknown'], dtype=object)

In [10]:
user.merriage.unique()

array([nan, '未婚', '保密', '已婚'], dtype=object)

In [11]:
merriage = {
    '保密': 'No Disclosure', '未婚': 'Single', '已婚': 'Married'
}

In [12]:
def translate_mer(x):
	try:
		return merriage[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [13]:
user['merriage'] = user['merriage'].apply(translate_mer)

In [14]:
user.merriage.unique()

array(['unknown', 'Single', 'No Disclosure', 'Married'], dtype=object)

In [15]:
user.income.unique()

array([nan, '6000-7999元', '8000元以上', '4000-5999元', '2000-3999元',
       '2000元以下'], dtype=object)

In [16]:
income = {
    '6000-7999元': '6000-7999', '8000元以上': 'above 8000', '4000-5999元': '4000-5999', '2000-3999元': '2000-3999',
    '2000元以下': 'Below 2000',
}

In [17]:
def translate_income(x):
	try:
		return income[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [18]:
user['income'] = user['income'].apply(translate_income)

In [19]:
user.income.unique()

array(['unknown', '6000-7999', 'above 8000', '4000-5999', '2000-3999',
       'Below 2000'], dtype=object)

In [123]:
user = user.drop('hobby', axis=1)

In [20]:
user.degree.unique()

array([nan, '大专', '本科', '高中', '中专', '初中', '硕士', '其他', '博士'], dtype=object)

In [21]:
degree = {
    '大专': 'College', '本科': 'Bachelor', '高中': 'High School', '中专': 'Special Secondary School',
    '初中': 'Middle School', '硕士': 'Master', '其他': 'Others', '博士': 'PhD'
}

In [22]:
def translate_degree(x):
	try:
		return degree[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [23]:
user['degree'] = user['degree'].apply(translate_degree)

In [24]:
user.degree.unique()

array(['unknown', 'College', 'Bachelor', 'High School',
       'Special Secondary School', 'Middle School', 'Master', 'Others',
       'PhD'], dtype=object)

In [25]:
user = user.drop('industry', axis=1)

In [26]:
user.qq_bound.unique()

array(['未绑定', '已绑定', nan], dtype=object)

In [27]:
qq = {
    '未绑定': 'Not Bounded', '已绑定': 'Bounded'
}

In [28]:
def translate_qq(x):
	try:
		return qq[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [29]:
user['qq_bound'] = user['qq_bound'].apply(translate_qq)

In [30]:
user.qq_bound.unique()

array(['Not Bounded', 'Bounded', 'unknown'], dtype=object)

In [31]:
user.wechat_bound.unique()

array(['已绑定', '未绑定', nan], dtype=object)

In [32]:
user['wechat_bound'] = user['wechat_bound'].apply(translate_qq)

In [33]:
user.wechat_bound.unique()

array(['Bounded', 'Not Bounded', 'unknown'], dtype=object)

In [34]:
user.account_grade.unique()

array(['铜牌会员', '金牌会员', '注册会员', nan, '银牌会员', '钻石会员'], dtype=object)

In [35]:
account = {
    '铜牌会员': '3rd Level', '金牌会员': '1st Level', '注册会员': 'Initial Level', '银牌会员': '2nd Level', '钻石会员': 'Premier Level'
}

In [36]:
def translate_account(x):
	try:
		return account[x]
	except:
		if pd.isnull(x):
			return 'unknown'
		return x

In [37]:
user['account_grade'] = user['account_grade'].apply(translate_account)

In [46]:
user.head()

,sex,birthday,hobby,merriage,income,id_card,degree,industry,qq_bound,wechat_bound,account_grade,id
0,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,未绑定,已绑定,铜牌会员,5.882390e+17
1,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,铜牌会员,6.014600e+17
2,保密,NaN,NaN,NaN,NaN,NaN,NaN,NaN,未绑定,已绑定,金牌会员,6.011380e+17
3,保密,0000-00-00,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,注册会员,2.016040e+19
4,男,10/4/1994,NaN,NaN,NaN,NaN,NaN,NaN,已绑定,未绑定,注册会员,6.134670e+17

In [47]:
user['industry'].unique()

array([nan, '能源/矿产/采掘/冶炼', '互联网/电子商务', '房地产/建筑/建材/工程', '酒店/餐饮',
       '通讯（设备/运营/增值服务）', '贸易/进出口', '家居/室内设计/装饰装潢', '其它', '电气/电力/水利',
       '加工制造（原料加工/模具）', '物业管理/商业中心', '交通/运输/物流', '金融/银行/投资/基金/证券',
       '石油/石化/化工', '广告/会展/公关/市场推广', '汽车/摩托车（制造/维护/配件/销售/服务）', '计算机软件',
       '检验/检测/认证', '大型设备/机电设备/重工业', '印刷/包装/造纸', '耐用消费品（服装服饰/纺织/皮革/家具/家电）',
       '电子技术/半导体/集成电路', '医疗/护理/美容/保健', '农/林/牧/渔', 'IT服务（系统/数据/维护）/多领域经营',
       '教育/培训', '计算机硬件及网络设备', '网络游戏', '零售/批发', '政府/公共事业/非盈利机构',
       '咨询/管理产业/法律/财会', '媒体/出版/影视/文化/艺术', '娱乐/体育/休闲', '仪器仪表及工业自动化',
       '快速消费品（食品/饮料/烟酒/化妆品', '保险', '跨领域经营', '旅游/度假', '医药/生物工程', '航空/航天',
       '医疗设备/器械', '中介服务', '环保', '礼品/玩具/工艺美术/收藏品', '学术/科研', '办公用品及设备'],
      dtype=object)

In [42]:
# 标记hobby, nan为0, 否则为1
is_hobby = user['hobby'].map(lambda x: 0 if str(x) == 'nan' else 1)
is_hobby_df = pd.DataFrame()
is_hobby_df['id'] = user['id']
is_hobby_df['is_hobby'] = is_hobby

In [48]:
# 标记industry, nan为0，否则为1
is_industry = user['industry'].map(lambda x: 0 if str(x) == 'nan' else 1)
is_hobby_df['is_industry'] = is_industry

In [49]:
is_hobby_df.head()

             id  is_hobby  is_industry
0  5.882390e+17         0            0
1  6.014600e+17         0            0
2  6.011380e+17         0            0
3  2.016040e+19         0            0
4  6.134670e+17         0            0

In [52]:
is_hobby_df.shape

(120929, 3)

In [51]:
sum(is_hobby_df['is_hobby'])

15167

In [53]:
sum(is_hobby_df['is_industry'])

8294

In [54]:
is_hobby_df.to_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/project/data/processed_data/user_hobby_industry_info.csv')

In [127]:
user.to_csv('C:/Users/Vance He/Desktop/UMich/2020_WN/STATS507/project/project/data/train_user_info_eng.csv')

In [122]:
user.id_card.unique()

array([nan, '420******713', '532******015', ..., '510******595',
       '341******073', '532******522'], dtype=object)